<!DOCTYPE html >
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">

    <title>文本分析</title>
    <link th:href="@{/css/style1.0.css}" rel="stylesheet" type="text/css" >
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/dist/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/dist/js/bootstrap.min.js}"></script>

</head>

<body>
<div class="input-group">
	
<!--分析胶囊界面 -->

<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
                                                  data-toggle="tab">中文分词</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">关键字提取</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">文本摘要</a></li>
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">人名识别</a></li>
        <li role="presentation"><a href="#img" aria-controls="img" role="tab" data-toggle="tab">词云图</a></li>
    </ul>

  <!-- Tab panes -->
  <div class="tab-content"style="width:440px;">
    <div role="tabpanel" class="tab-pane  active" id="home">[[${f.fenzi}]]</div>
    <div role="tabpanel" class="tab-pane " id="profile">[[${f.keywords}]]</div>
    <div role="tabpanel" class="tab-pane" id="messages">[[${f.extracts}]]</div>
    <div role="tabpanel" class="tab-pane" id="settings">[[${f.name}]]</div>
    <div role="tabpanel" class="tab-pane" id="img"><img src="../../img/3.png"  alt="Responsive image" style="width: 800px;height: 500px"></div>
  </div>

</div>
</div>
	
		


<script type="text/javascript">
	/**
	 * 这个使用的单选框选择判断
	 */
$('#nav1 a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>

</body>
</html>