<!DOCTYPE html >
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>

	<meta charset="UTF-8">

	<title>数据管理</title>
	<link th:href="@{/css/style1.0.css}" rel="stylesheet" type="text/css" >
	<!-- Bootstrap Core CSS -->
	<link th:href="@{/dist/css/bootstrap.min.css}" rel="stylesheet">
	<!-- Bootstrap Core JavaScript -->
	<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/dist/js/bootstrap.min.js}"></script>


</head>

<body>
<div class="place">
	<span>位置：</span>
		<ul class="placeul">
		<li><a href="#">首页</a></li>
		<li>数据管理</li>
		
	</ul>
</div>
<div class="rightinfo">

<div><label class="col-sm-1">搜索</label>
	<div class="col-lg-7" id="d1" style="">
<span>标题:</span>
			<input type="text" class="form-control col-sm-1" placeholder="标题" />
			
			<span>来源:</span><select class="form-control" id="s1"style="">
				 <option value="">--请选择--</option>
					<option>搜狐</option>
					<option>新浪</option>
					<option>网易</option>
					
				</select>
	
			<span>时间:</span><div  class="col-lg-3"><input type="date"/></div>
	</div>
	<div style="float: right;margin-top: 20px;">
		<a href="data.html" class="btn btn-default">查询</a>
		<a href="data.html" class="btn btn-default">添加</a>
		<a href="data.html" class="btn btn-default">删除</a>
	</div>
</div>
	<table class="tablelist">
		<thead>
			<tr>
				<th width="30"><input type="checkbox" id="all" onclick="selectOrClearAllCheckbox(this);" />
							</th>
				<th>用户名</th>
				<th>联系电话</th>
				<th>出生日期</th>
				<th>是否禁用 </th>
				<th>操作</th>
			</tr>
		</thead>
<!-- 		Banner_xz..@_@.. -->
		<tbody>
			<c:forEach items="${uList }" var="u">
			<c:if test="${u.isadm == '0'}">
				<tr>
					<td><input type="checkbox" name="IDCheck" value="14458644830000" class="acb" /></td>
					<td>${u.username }</td>
					<td>${u.phone }</td>
					<td>${u.birthday }</td>
					<td>
						<c:if test="${u.state == '0'}">禁用</c:if>
						<c:if test="${u.state == '1'}">启用</c:if>
					</td>
					
					<td>
						<c:if test="${u.state == 1}"><a href="${pageContext.request.contextPath}/ChangeUserStateServlet?state=0&id=${u.id}">详情 淌出模态框</a></c:if>
						
						<c:if test="${u.state == 0}"><a href="${pageContext.request.contextPath}/ChangeUserStateServlet?state=1&id=${u.id}">删除</a></c:if>
					</td>
					
					
				</tr>	
				</c:if>		
			</c:forEach>
		</tbody>
	</table>
	</div>
	<!-- Page Content -->
		<div id="page-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
	<ul class="pagination">
							<li class="paginate_button previous ${1==page.curPage?'disabled':'' }"><a
								href="${pageContext.request.contextPath}/FindUserServlet?page=1">第一页</a></li>
							<c:forEach begin="${page.beginPage }" end="${page.endPage }" var="p">
								<li class="paginate_button ${p==page.curPage?'active':'' }"><a
									href="${pageContext.request.contextPath}/FindUserServlet?page=${p }">${p }</a></li>
							</c:forEach>
						
							<li
								class="paginate_button next ${maxPage==page.curPage?'disabled':'' }"><a
								href="${pageContext.request.contextPath}/FindUserServlet?page=${page.maxPage }">最后页</a></li>
						</ul>
</div>
</div>
</div>
</div>


<script type="text/javascript">
	/**
	 * 这个使用的单选框选择判断
	 */
	function toUpdate(){
		var id = $("input[name='id']:checked").val();
		if(!id){
			alert("请选择要操作的记录");
			return false;
		}else{
			alert( "您操作的值为："+$("input[name='id']:checked").val())
		}
	}
	$(function(){
		$('.tablelist tbody tr:odd').addClass('odd');
		
		$("#formtitle").click(function(){
			$("#forminfo").slideToggle("slow");
		});
	});
</script>

</body>
</html>

