<!DOCTYPE html >
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">

    <title>文本分析</title>
    <link th:href="@{/css/style1.0.css}" rel="stylesheet" type="text/css" >
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/dist/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/dist/js/bootstrap.min.js}"></script>

</head>

<body>
<div class="input-group"><h4>抓取文本内容：</h4>
	<form th:action="@{/data/text_analyze}" method="post" target="menuFrame2">
		<textarea class="form-control" rows="10" name="str" cols="1" style="margin: 0px 737px 0px 0px; height: 276px; width: 543px;">[[${str}]]</textarea>
		<input class="btn btn-default" type="submit" value="文本分析" style="margin-left: 458px;">
	</form>
	
<!--分析胶囊界面 -->

    <iframe id="menuFrame2" name="menuFrame2" src=""  scrolling="" frameborder="no" style="min-height: 700px;width:100%;height:100%;float:left;" >
    </iframe>
</div>
	
		


<script type="text/javascript">
	/**
	 * 这个使用的单选框选择判断
	 */
$('#nav1 a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>

</body>
</html>