<!DOCTYPE html >
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>

	<meta charset="UTF-8">

	<title>用户管理</title>
	<link th:href="@{/css/style1.0.css}" rel="stylesheet" type="text/css" >
	<!-- Bootstrap Core CSS -->
	<link th:href="@{/dist/css/bootstrap.min.css}" rel="stylesheet">
		<!-- Bootstrap Core JavaScript -->
	<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/dist/js/bootstrap.min.js}"></script>
	
</head>

<body>
<div class="place">
	<span>位置：</span>
		<ul class="placeul">
		<li><a href="">首页</a></li>
		<li>用户管理</li>
		
	</ul>
</div>
<div class="rightinfo">

	<table class="tablelist">
		<thead>
			<tr>
				<th>用户名</th>
				<th>联系电话</th>
				<th>email</th>
				<th>权限</th>
				<th>是否禁用 </th>
				<th>操作</th>
			</tr>
		</thead>
<!-- 		Banner_xz..@_@.. -->
		<tbody  th:each="u,rowStat:${pageInfo.list}">


				<tr>
					<td>[[${u.name }]]</td>
					<td>[[${u.tel }]]</td>
					<td>[[${u.email }]]</td>
					<td th:switch="${u.acess}">
						<p th:case="0">普通用户</p>
						<p th:case="1">管理员</p>
					</td>
					<td th:switch="${u.state}">
						<p th:case="0">启用</p>
						<p th:case="1">禁用</p>
					</td>
					
					<td th:switch="${u.state}">
						<a th:case="0" th:href="@{/user/changeState(state='1',id=${u.id})}">禁用</a>
						
						<a th:case="1" th:href="@{/user/changeState(state='0',id=${u.id})}">启用</a>
					</td>
					
					
				</tr>	

		</tbody>

	</table>
    <nav>
        <ul class="pagination">
            <li>
                <a th:if="${not isFirstPage}" th:href="@{${'userlist'}(pageNum=${pageNum}-1,pageSize=${pageSize})}" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                </a>
                <a th:if="${isFirstPage}" href="javascript:void(0);" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                </a>
            </li>

            <li th:each="pageNo : ${#numbers.sequence(1, totalPages)}">
                <a th:if="${pageNum eq pageNo}" href="javascript:void(0);">
                    <span th:text="${pageNo}"></span>
                </a>

                <a th:if="${not (pageNum eq pageNo)}" th:href="@{${'userlist'}(pageNum=${pageNo},pageSize=${pageSize})}">
                    <span th:text="${pageNo}"></span>
                </a>
            </li>

            <li>
                <a th:if="${not isLastPage}" th:href="@{${'userlist'}(pageNum=${pageNum+1},pageSize=${pageSize})}" aria-label="Next">
                    <span aria-hidden="true">»</span>
                </a>
                <a th:if="${isLastPage}" href="javascript:void(0);" aria-label="Next">
                    <span aria-hidden="true">»</span>
                </a>
            </li>
        </ul>
    </nav>

</div>
	<!-- Page Content -->
		<div id="page-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">

					</div>
</div>
</div>
</div>


<script type="text/javascript">
	/**
	 * 这个使用的单选框选择判断
	 */
	function toUpdate(){
		var id = $("input[name='id']:checked").val();
		if(!id){
			alert("请选择要操作的记录");
			return false;
		}else{
			alert( "您操作的值为："+$("input[name='id']:checked").val())
		}
	}
	$(function(){
		$('.tablelist tbody tr:odd').addClass('odd');
		
		$("#formtitle").click(function(){
			$("#forminfo").slideToggle("slow");
		});
	});
</script>

</body>
</html>

