<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" >

    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>

    <!--表单验证-->
    <script th:src="@{/js/common.js}"></script>

    <script th:src="@{/js/jquery.validate.min.js}"></script>

</head>
<body>

<div class="register-container">
    <h1>修改密码</h1>

    <div class="connect">
        <p>welcome to our system!</p>
    </div>

    <form th:action="@{/user/userRepassword}" method="post" id="registerForm">

        <div>
            <input type="password" name="password" class="password" placeholder="输入密码" oncontextmenu="return false" onpaste="return false" />
        </div>
        <div>
            <input type="password" name="confirm_password" class="confirm_password" placeholder="再次输入密码" oncontextmenu="return false" onpaste="return false" />
        </div>


        <button id="submit" type="submit">确 认</button>
    </form>


</div>


</body>
</html>